[defaults]
inventory = inventory
forks = 5
vault_password_file = ../.vault_password
host_key_checking = False
private_key_file = ~/.ssh/id_rsa
remote_user = ubuntu
roles_path = galaxy
hash_behavior = merge
log_path = /home/vagrant/ansible/ansible.log

#[ssh_connection]
#pipelining = True
#scp_if_ssh = True
#control_path = %(directory)s/%%h-%%r
#ssh_args = -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=60s
