---
aws_region: "{{ aws_region }}"
aws_route53_zone_domain: "{{ aws_route53_zone_domain }}"
initial_gitlab_admin_password: "{{ initial_gitlab_admin_password }}"
gitlab_public_ip: "{{ _gitlab_public_ip }}"
smtp_credentials_key: "{{ _smtp_credentials_key }}"
smtp_credentials_secret: "{{ _smtp_credentials_secret }}"
smtp_credentials_host: "{{ _smtp_credentials_host }}"
...
